/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 100%;
  background: url("banner.jpg") center center no-repeat;
  padding: 20px;
}
.banner .about-sign-in {
  height: 60px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .sign-in, .banner .about-sign-in .about {
  text-decoration: none;
  padding: 7px 15px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
}
.banner .about-sign-in .sign-in {
  margin-left: 25px;
  margin-right: 100px;
  border: 2px green solid;
  border-radius: 20px;
  color: green;
}
.banner .logo {
  height: 80;
  margin-top: 130px;
  background: url("./hapoERP.png") center center no-repeat;
}
.banner .content-center .left, .banner .content-center .right, .banner .content-center .center {
  margin-top: 30px;
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}
.banner .content-center span {
  display: block;
  font-size: 20px;
  padding-top: 5px;
}
.banner .content-center img {
  height: 60px;
  width: 60px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .text span {
  display: block;
  font-size: 20px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  font-family: 'Roboto';
  border: 2px black solid;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 25px;
  cursor: pointer;
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
}
